.solutions-callout-stage {
    background-color: #F4F7F7;
    padding: 120px 0 120px 0;
    text-align: center;
}
.solutions-callout .solutions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: left;
}
.solution {
    align-items: center;
    display: flex;
    height: 48px;
}
.solution img {
    height: 16px;
    margin-right: 1em;
    width: 16px;
}