.solutions-callout-stage .solutions.stage {
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-top: 120px;
    row-gap: 24px;
    text-align: left;
}
.solutions-callout-stage {
    background-color: #F4F7F7;
    padding: 120px 0 120px 0;
    text-align: center;
}
.solutions-callout-stage .solution {
    align-items: flex-start;
    display: flex;
    height: 48px;
}
.solution span, #country-list span {
    font-size: var(--font-size-large);
    padding-right: .5em;
}