.network-partner {
    box-shadow: 0 0 6px rgba(200,200,200,.5);
    display: flex;
    margin: 24px auto 24px auto;
    max-width: 860px;
    padding: 24px;
    width: 100%;
}
#page-hero + .network-partner {
    margin-top: 120px;
}
.network-partner .brand {
    flex: 1 1 15%;
    margin-right: 16px;
}
.network-partner .brand a,
.network-partner .details .name a {
    color: var(--color-green);
    font-weight: 700;
}
.network-partner .brand img {
    height: auto;
    margin-bottom: 1em;
    max-width: 112px;
    padding-bottom: .5em;
}
.network-partner .details {
    color: var(--color-gray);
    flex: 1 1 85%;
    line-height: 1.4em;
    margin-left: 16px;
}
.network-partner .details .name {
    margin-bottom: 1em;
}
.network-partner .details .name a {
    font-size: var(--font-size-large);
}

@media screen and ( max-width: 1000px ) {
    .network-partner {
        margin: 24px 16px 24px 16px;
        width: auto;
    }
}