.team-lead-stage {
	background-color: var(--color-green-10);
	padding: 120px 0 120px 0 ;
}
.awards-callout-stage + .team-lead-stage {
	margin-top: 120px;
}
.text-feature-stage + .team-lead-stage {
	margin-top: 120px
}
.team-lead-stage.desks {
	background-color: transparent;
}
.member .slug {
	color: var(--color-green-70);
	font-size: var(--font-size-small);
    margin-bottom: 1em;
	text-transform: uppercase;
}
.lead-team-member .member .bio {
	color: var(--color-green);
}