#page-lead {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 60px 0 120px 0;
}
#page-lead .lead p {
    font-size: var(--font-size-larger);
    line-height: 1.5em;
    margin: 1em auto 1em auto;
}
#page-lead .lead a {
    border-bottom: solid 1px var(--color-white);
    color: solid 1px var(--color-white);
}
#page-lead .lead a:hover {
    border-bottom: solid 1px var(--color-bright-green);
}
#page-lead .lead + p {
    margin-top: 4em;
}
#page-lead p {
    font-size: var(--font-size-large);
    line-height: 1.6em;
    margin: 1em auto 1em auto;
}
#page-lead .narrow p:last-child {
    margin-bottom: 0;
}
#page-lead .testimonials {
    margin-top: 4em;
}
#page-lead .testimonials p {
    border-left: solid 1px var(--color-white);
    font-style: italic;
    margin-bottom: 2em;
    padding-left: 2em;

}