.photo-feature {
    background-color: var(--color-bright-green);
    display: flex;
    position: relative;
}

.photo-feature > div {
    flex: 1 1 50%;
}
.photo-feature img {
    max-width: 100%;
}
.photo-feature .copy-stage {
    align-items: center;
    display: flex;
    color: var(--color-white);
}

.photo-feature::after {
    background: url(../../../assets/media/logo-art-reverse.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: ' ';
    height: 125px;
    position: absolute;
    right: 0;
    width: 150px;
}



.photo-feature .copy-stage .copy {
    max-width: 32em;
    width: 100%;
}
.photo-feature .button {
    margin-top: 2em;
}