.team-feature {
    margin: 60px 0 120px 0;
    text-align: center;
}
.team-feature .button {
    margin: 4em auto 0 auto;
}
.team-stage {
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    margin-top: 60px;
    row-gap: 16px;
}
.team-member {
    background-color: var(--color-white);
    box-shadow: 0 0 6px rgba(200,200,200, .5);
}
.team-member .details-stage {
    align-items: center;
    display: flex;
    padding: 1em;
    text-align: left;
}
.team-member .details .name {
    font-size: var(--font-size-large);
    font-weight: 700;
    margin-bottom: .5em;
}
.team-member .details .position,
.team-member .details .location {
    color: var(--color-gray);
}