#our-founders {
    background-color: #F4F7F7;
    padding: 120px 0 120px 0;
}
.our-founders {
    text-align: center;
}
.founders-stage {
    column-gap: 24px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr) ;
    margin-top: 60px;
    row-gap: 24px;
}
.our-founders-stage h4 {
    margin-top: 60px;
}
.founders-stage a {
    align-items: stretch;
    max-width: 320px;
}
.founders-stage > article {
    background-color: var(--color-white);
    box-shadow: 0 0 6px rgba(200,200,200, .5);
    max-width: 320px;
}
.founders-stage > article:first-child {
    justify-self: end;
}
.founders-stage > article:nth-child(2) {
    justify-self: center;
}
.founders-stage > article:last-child {
    justify-self: start;
    margin-right: 0;
}