#dfdl-map {
    margin: auto;
}
.dfdl-countries-stage {
    padding: 120px 0 120px 0;
}
.dfdl-countries .stage {
    display: flex;
    width: 100%;
}
.dfdl-countries .map {
    flex: 1 1 75%;
    position: relative;
    
}
.dfdl-countries .map img {
    height: auto;
    width: 100%;
}
.dfdl-countries .countries {
    flex: 1 1 15%;
}
.dfdl-countries .countries li {
    line-height: 2em;
    list-style-type: none;
    text-align: right;
}
.dfdl-countries .countries li span {
    display: none;
}
.other {
    fill:#66948F;
    stroke-linecap:round;
    transition: all .25s;
}
.other.disabled {
    fill:#ececec;
    transition: all .25s;
}
.country {
    fill:#004C45;
    stroke: #fff;
    stroke-linecap:round;
    stroke-width: .7;
    transition: all .25s;
}
.country.disabled {
    fill:#ececec;
    transition: all .25s;
}
.st3 {
    fill: #77DD77;
    
}
.map-pin {
    cursor: pointer;
    fill: #77DD77;
}
.map-pin.disabled path {
    fill:#cccccc;
}
.callout .stage .countries ul .hilite a {
    color: var(--color-dark-gray);
}
.callout .stage .countries ul a {
    color: var(--color-dark-gray);
}
.callout .stage .countries ul a:hover {
    color: var(--color-green);
    color: var(--color-dark-gray);
}
.callout .stage .countries ul a:hover {
    color: var(--color-green);
}
#popup {
    background-color: var(--color-white);
    box-shadow: 0 0 6px rgba(200,200,200, .5);
    box-sizing: border-box;
    width: 280px;
    opacity: 0;
    padding: 1em 60px .5em 12px;
    pointer-events: none;
    position: absolute;
    text-align: left;
}
#popup ul {
    margin-left: 0;
    padding-left: 1.5em;
}
#popup h4 {
    font-size: var(--font-size-small);
    margin-top: 1em;
}
#popup li::marker,
.callout .stage #popup a {
    color: var(--color-gray);
    font-size: var(--font-size-smaller);
}
#popup.show{
    opacity: 1;
    pointer-events: initial;
}