#page-hero {
    align-items: flex-end;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    position: relative;
}
.hero.front-page {
    height: 90vh;
}
.hero.page {
    height: 516px;
}
.hero.page.landing {
    height: 616px;
}
.hero .stage {
    align-items: flex-end;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}
.hero .overlay {
    position: absolute;
    width: 100%;
    z-index: 1;
}
#page-hero h2 {
    color: var(--color-white);
    font-size: var(--font-size-super-jumbo);
    padding-bottom: 1em;
    position: relative;
    z-index: 1;
}
.hero .stage .subnav-stage {
    position: absolute;
    top: 120px;
}
#page-hero .subnav-stage .back a {
    background: transparent url(../../../assets/media/icon-back-arrow-white.svg) center left no-repeat;
    background-size: 8px;
	color: var(--color-white);
    display: none;
    font-weight: 900;
	padding-left: 1.5em;
}
#page-hero.solutions .subnav-stage .back a {
    display: block;
}