/* Variables */
:root {
	/* Colors */
	--color-black: #000;
	--color-dark-gray: #131313;
	--color-gray: #7D7D7D;
	--color-light-gray: #F6F6F6;
	--color-whisper: #E7E7E7;
	--color-green: #004C45;
	--color-bright-green: #10B565;
	--color-red: #66000;
	--color-yellow: #FFBD5C;
	--color-white: #fff;
	--setting-silo-max-width: 1312px;
	--font-size-small: 14px;
	--font-size-body: 16px;
	--font-size-large: 18px;
	--font-size-larger: 22px;
	--font-size-big: 28px;
	--font-size-huge: 32px;
	--font-size-jumbo: 56px;
	--font-size-super-jumbo: 72px;
}
html :where(.wp-block) {
	max-width: 1040px;
}
.button {
	border: solid 1px;
	border-radius: 12px;
	display: inline-block;
	font-weight: 400;
	padding: .5em 1em .5em 1em;
	text-decoration: none;
}
.button.green {
	border: solid 1px var(--color-green);
	color: var(--color-green);
}
#page-hero {
    align-items: center;
	background-color: var(--color-whisper);
    background-position: 50% 50%;
    display: flex;
    height: 200px;
}
.hero .overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.fp-hero-title {
    color: var(--color-white);
	padding: 0;
    position: relative;
    z-index: 1;
}
.fp-hero-title h2 {
	margin: 0;
	font-size: var(--font-size-jumbo);
}
.countup-box-stage {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 1em;
}
.countup-boxes {
    display: flex;
	font-size: var(--font-size-body);
    justify-content: space-between;
	padding: 0;
}
.box {
    text-align: center;
}
.box h4 {
	font-size: var(--font-size-big);
	margin: 0;
}
.box .label {
    font-size: var(--font-size-body);
}
.countup-text {
	font-size: var(--font-size-body);
    line-height: 1.5em;
}
.callout h2 {
	margin: 0 auto 0 auto;
	text-align: center;
}
.callout h3 {
    color: var(--color-gray);
    font-size: var(--font-size-body);
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 auto 1em auto;
	text-align: center;
    max-width: 24em;
}
.callout .stage a {
    color: var(--color-dark-gray);
    font-size: var(--font-size-small);
    text-decoration: none;
}
.callout .button {
    margin-top: 1em;
}
.solutions-callout-stage {
    background-color: #F4F7F7;
    padding: 1em;
    text-align: center;
}
.our-desks-callout-stage {
	padding: 60px 0 60px 0;
}
#page-lead .lead {
    font-size: var(--font-size-larger);
}
#page-lead p {
    line-height: 1.6em;
    max-width: 1024px;
    margin: 1em auto 1em auto;
}
#page-lead,
#our-founders,
.text-feature-stage {
    padding: 1em;
}
.country-nav-stage {
	font-size: smaller;
	text-align: center;
}
.country-nav {
	margin-top: 2em;
	padding: 0;
}
.country-nav li {
	display: inline;
	list-style-type: none;
	margin-right: 1.5em;
}
.country-nav li a {
	color: var(--color-dark-gray);
}
.country-nav li:last-child {
	margin-right: 0;
}
.country-contacts-stage {
	padding: 3em 1em 2em 1em;
}