.text-feature-stage {
    padding: 120px 0 120px 0;
}
.text-feature .title {
    font-size: var(--font-size-larger);
    font-weight: 700;
}
.text-feature .columns {
    display: flex;
}
.text-feature .columns > div {
    flex: 1 1 50%;
    line-height: 1.75em;
}