#country-subnav {
    left: -4px;
    position: relative;
	text-align: center;
}
#subnav-stage {
    background-color: var(--color-white);
    overflow: hidden;
    padding: 16px 0 16px 0;
    position: relative;
}
#subnav-stage.fixed {
	left: 0;
	margin-top: 0;
	position: fixed;
    right: 0;
	top: 0;
    z-index: 100;
}
#beacon.stage {
    height: 72px;
}
.team-grid-stage.locations,
.team-grid-stage.solutions {
    background-color: var(--color-green-10);
}
.team-grid-stage.teams {
    padding-top: 120px;
}
.team-grid {
    padding: 120px 0 120px 0;
    text-align: center;
}
.team-grid-stage {
    margin: 120px 0 120px 0;
}
#subnav-stage + .team-grid {
    padding-top: 60px;
}
.team-grid .button.see-all {
    margin: 4em auto 0 auto;
}
#our-founders + .team-grid-stage,
.team-lead-stage + .team-grid-stage > .team-grid {
    padding-top: 0;
}
#team-grid-swiper {
    position: relative;
}
#team-grid-swiper .swiper-wrapper {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    row-gap: 24px;
}

.team-swiper .swiper-prev,
.team-swiper .swiper-next {
    display: none;
}
/*
.team-stage > div {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    margin-top: 60px;
    row-gap: 24px;
}
*/
/*
.team-swiper {
    position: relative;
}
.team-swiper .swiper-prev {
    left: 0;
}

.team-stage > div {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    margin-top: 60px;
    row-gap: 24px;
} */

.team-stage > .loading {
    display: block;
}
.team-stage.silo {
    margin: 64px auto 120px auto;
}
.team-stage article {
    height: 100%;
    overflow: hidden;
}
