#country-subnav {
    left: -4px;
    overflow: hidden;
    position: relative;
	text-align: center;
}
.team-grid-stage #subnav-stage,
#team-all #subnav-stage {
    background-color: var(--color-white);
    padding: 0 0 16px 0;
    position: sticky;
    top: 80px;
    z-index: 9;
}
#team-all #subnav-stage {
    top: 0;
}
.admin-bar #subnav-stage { 
    top: 110px;
}
/*
#subnav-stage.fixed {
	left: 0;
	margin-top: 0;
    padding: 16px;
	position: fixed;
    right: 0;
	top: 80px;
}*/
#beacon.stage {
    height: 72px;
}
.team-grid-stage.locations,
.team-grid-stage.solutions {
    background-color: var(--color-green-10);
}/*
.team-grid-stage.teams {
    padding-top: 120px;
} */
.team-grid {
    padding: 120px 0 120px 0;
    text-align: center;
}
.team-grid-stage {
    margin: 120px 0 0 0;
}
#subnav-stage + .team-grid {
    padding-top: 60px;
}
#our-founders + .team-grid-stage,
.team-lead-stage + .team-grid-stage > .team-grid {
    padding-top: 0;
}
.team-member-stage + .team-grid-stage {
    margin-top: 0;
}
#team-grid-swiper {
    position: relative;
}
.team-swiper .swiper-prev,
.team-swiper .swiper-next {
    display: none;
}
.team-stage > .loading {
    display: block;
}
.team-stage.silo {
    margin: 64px auto 120px auto;
}
.team-stage article {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
