#page-hero {
    align-items: flex-end;
    background-position: 50% 50%;
    display: flex;
    height: 95vh;
}
.fp-hero-title {
    color: var(--color-white);
    font-size: var(--font-size-super-jumbo);
    margin-left: 64px;
}