.countup-box-stage {
    background-color: var(--color-dfdl-green);
    color: var(--color-white);
    padding: 120px 0 120px 0;
}
.countup-box-stage.frontpage {
    background: var(--color-dfdl-green) url('../../../assets/media/countup-art.svg') no-repeat 0 100%;
    background-size: 200px 200px;
}
.countup-boxes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}
.box {
    text-align: center;
}
.box h4 {
    font-size: var(--font-size-jumbo);
    font-weight: 900;
}
.box .label {
    font-size: var(--font-size-body);
}
.countup-text {
    font-size: var(--font-size-big);
    line-height: 1.5em;
}