#firm-values {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 0 0 120px 0;
}
#firm-values .narrow {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}
#firm-values .col {
    margin: auto;
    max-width: 240px;
    text-align: center;
}
#firm-values h2 {
    font-size: var(--font-size-larger);
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: .25em;
}