.country-team-lead-stage {
	background-color: var(--color-green-10);
	padding: 120px 0 0 0 ;
}
.country-team-lead .member .slug {
	color: var(--color-green-70);
	font-size: var(--font-size-small);
    margin-bottom: 1em;
	text-transform: uppercase;
}