.our-desks-callout-stage {
    background-color: var(--color-white);
    padding: 120px 0 120px 0;
    text-align: center;
}
.our-desks-callout .our-desks {
    display: flex;
    justify-content: space-around;
}
.our-desks img {
    display: block;
    height: 48px;
    margin-bottom: .666666em;
    width: auto;
}