.team-member-stage {
	padding: 120px 0 120px 0 ;
}
.team-member .member .slug {
	color: var(--color-green-70);
	font-size: var(--font-size-small);
    margin-bottom: 1em;
	text-transform: uppercase;
}
.team-member.dfdl-single-member {
	flex-direction: row-reverse;
	margin: 0;
}
.team-member.dfdl-single-member .details-stage {
	margin: 0 2em 0 0;
	padding-left: 0;
}